extends layout

block content

  .row-fluid
    .span12
      h2 About
      p
        | I began my career in early 2000s with initial experiences in
        | proprietary software. After a period of&nbsp;
        a(href='//en.wikipedia.org/wiki/Metanoia_(psychology)') metanoia
        |, I re-focused my career on Free Software and Open Source Software.

      p
        | Im a core member of the&nbsp;
        a(href='//github.com/callowayproject/') Calloway project
        | , started at The Washington Times. We open-sourced and currently
        | maintain a bunch of apps that were created for the site. You can find
        | all of them&nbsp;
        a(href='//github.com/callowayproject/') here

      p
        :markdown
          My primary focus as been with **python**, **django** and **postgres**, but i\'m
          always looking for something new to do. This is why this site was built
          using **nodejs**, **angularjs**, **jade** and **mongo**, and is
          hosted on [heroku](//heroku.com/).
          Source is available on [github](//github.com/jsoa/jsoa.io)

      p
        :markdown
          You can find me on [twitter](//twitter.com/jsoa),
          [github](//github.com/jsoa), and on irc.freenode.net in the following
          channels: #django, #python, #git and #emacs
